
.container{
  display: flex;
  width:100vw;
  justify-content: center;
  flex-direction: column;
}
.new-tweet{
  font-family: 'Indie Flower', cursive;
  align-items: center;
}
#tweet-text{
  width: 90vw;
  color: rgb(231, 209, 209);
  border: none;   
  border-bottom: 4px solid rgb(231, 209, 209);   
  background-color: inherit;   
  /* outline: none; */
}
#tweet-text:hover{
  transition-duration: 0.6s;
  box-shadow: .25em .25em .25em rgba(90, 194, 107, 0.445);
}

.button{
  display: flex;
  text-align: center;
  font-family:"Abel", sans-serif; 
  border-radius: 12px;
  padding: 8px 24px;
  background-color: cornflowerblue;
  border: 2px solid #587bee;
} 
  
.button:hover { 
  transition-duration: 0.6s;
  background-color: rgb(9, 57, 139);
  color: rgb(86, 129, 209);
}

.button-Counter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.charLimit{
  color: red;
}

.tweets-container {
  margin-top: 2em;
}

.tweets-container:hover{
  transition-duration: 0.6s;
  box-shadow: .5em .5em .5em rgba(90, 194, 107, 0.445);
  color: rgb(86, 129, 209);
}

.tweet-header{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#profile-info{
  display: flex;
    flex-direction: row;
    align-items: center;
}