.new-tweet{
  margin-top: 1em;
}

#tweet-text{
  width: 100%;
  font-family: auto;
  color: rgb(42 33 33);
  border: none;   
  border-bottom: 4px solid rgb(118 68 68);  
  background-color: inherit;   
  outline: none;
}

#tweet-text:hover{
  transition-duration: 0.6s;
  box-shadow: .25em .25em .25em rgba(90, 194, 107, 0.445);
}

.button-Counter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
}

.button{
  display: flex;
  text-align: center;
  border-radius: 12px;
  padding: 8px 24px;
  background-color: cornflowerblue;
  border: 2px solid #587bee;
} 
  
.button:hover { 
  transition-duration: 0.6s;
  background-color: rgb(9, 57, 139);
  color: rgb(86, 129, 209);
}

.charLimit{
  color: red;
}

.article {
  padding: 1em;
  margin: 1em 0;
  border: 2px solid black;
}

.article:hover{
  transition-duration: 0.6s;
  box-shadow: .5em .5em .5em rgb(44, 85, 90);
  color: rgb(86, 129, 209);
}

.text{
  overflow-wrap: break-word;
  hyphens: auto;
  border-bottom: 4px solid rgb(63, 47, 47);
}

.errMsg{
  font-weight:bolder;
  font-size: 20px;
  color: red;
  display: none;
}

.tweets-container{
  margin: 1em 0;
}

.tweets-container:hover{
  transition-duration: 0.6s;
  box-shadow: .5em .5em .5em;
  color: rgba(48, 87, 92, 0.445);
}

.article header{
  font-family: monospace;
  overflow-wrap: break-word;
  display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.profile-info{
  display: flex;
    flex-direction: row;
    align-items: center;
}
.tweet-card {
  font-size: 20px;
  background-color: inherit;
  padding-bottom: .5em;

}

.article footer {
  margin-top: -1.5em;
  margin-bottom:.5em;
  font-family: inherit;
    font-size: small;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fa-solid:hover{
  transition-duration: 0.06s;
  color: rgb(248, 249, 251);
}